	<!-- banner -->
	<div class="banner animated fadeIn">
		<div class="container">
			<h3>Tienda de electronicos, <span>Ofertas especiales</span></h3>
		</div>
	</div>
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-5 wthree_banner_bottom_left">
				<div class="video-img">
					<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
						<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
					</a>
				</div>
					<!-- pop-up-box -->
					<script src="assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!--//pop-up-box -->
					<div id="small-dialog" class="mfp-hide">
						<iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM"></iframe>
					</div>
					<script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
					</script>
			</div>
			<div class="col-md-7 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#Casa" id="Casa-tab" role="tab" data-toggle="tab" aria-controls="Casa">Móviles</a></li>
						<li role="presentation"><a href="#audio" role="tab" id="audio-tab" data-toggle="tab" aria-controls="audio">Audio</a></li>
						<li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">Computadoras</a></li>
						<li role="presentation"><a href="#tv" role="tab" id="tv-tab" data-toggle="tab" aria-controls="tv">Casa</a></li>
						<li role="presentation"><a href="#Cafeteras" role="tab" id="Cafeteras-tab" data-toggle="tab" aria-controls="Cafeteras">Cafeteras</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="Casa" aria-labelledby="Casa-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/3.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/4.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/5.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/6.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/7.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/3.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/4.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/5.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Teléfono 1</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$380</span> <i class="item_price">$350</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Mobile Phone1" />
											<input type="hidden" name="amount" value="350.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/4.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/5.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/6.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/7.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/3.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/4.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/5.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/6.jpg" alt=" " class="image-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Teléfono 2</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$330</span> <i class="item_price">$302</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Mobile Phone2" />
											<input type="hidden" name="amount" value="302.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/7.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/6.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/4.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/3.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/5.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/7.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/4.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/6.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Teléfono 3</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$250</span> <i class="item_price">$245</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Mobile Phone3" />
											<input type="hidden" name="amount" value="245.00"/>
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="audio" aria-labelledby="audio-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/10.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/10.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Altavoces</a></h5>
										<p><span>$320</span> <i class="item_price">$250</i></p>
									<div class="simpleCart_shelfItem">
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Altavoces" />
											<input type="hidden" name="amount" value="250.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/10.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/10.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Auriculares</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$180</span> <i class="item_price">$150</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Auriculares" />
											<input type="hidden" name="amount" value="150.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/10.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/10.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/8.jpg" alt=" " class="image-responsive" />
										<img src="assets/images/9.jpg" alt=" " class="image-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Reproductor de música</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$220</span> <i class="item_price">$180</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Reproductor de música" />
											<input type="hidden" name="amount" value="180.00"/>
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="video" aria-labelledby="video-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Laptop</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$880</span> <i class="item_price">$850</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Laptop" />
											<input type="hidden" name="amount" value="850.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Notebook</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$290</span> <i class="item_price">$280</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Notebook" />
											<input type="hidden" name="amount" value="280.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/13.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/12.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">

Juguete para niños</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$120</span> <i class="item_price">$80</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Juguete para niños" />
											<input type="hidden" name="amount" value="80.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tv" aria-labelledby="tv-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Refrigerador</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$950</span> <i class="item_price">$820</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Refrigerador" />
											<input type="hidden" name="amount" value="820.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">LED Tv</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$700</span> <i class="item_price">$680</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="LED Tv"/>
											<input type="hidden" name="amount" value="680.00"/>
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/16.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/15.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Lavadora</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$520</span> <i class="item_price">$510</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Lavadora" />
											<input type="hidden" name="amount" value="510.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Cafeteras" aria-labelledby="Cafeteras-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Amoladora</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$460</span> <i class="item_price">$450</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Amoladora" />
											<input type="hidden" name="amount" value="450.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Purificador de agua</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$390</span> <i class="item_price">$350</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Purificador de agua" />
											<input type="hidden" name="amount" value="350.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/19.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
										<img src="assets/images/18.jpg" alt=" " class="img-responsive" />
										<div class="elec_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Cafetera</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$250</span> <i class="item_price">$220</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="elec_item" value="Cafetera" />
											<input type="hidden" name="amount" value="220.00" />
											<button type="submit" class="elec_cart">Añadir a la canasta</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/3.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>El mejor teléfono móvil 3GB</h4>
							<p>En los comienzos del segundo semestre de 2014, más específicamente en agosto del citado año, una veintena de teléfonos celulares con 3 Gigabytes (GB) de memoria RAM habían sido lanzados, anunciados o en proceso de manufacturación, todos ellos considerados como smartphones de alta gama plus, de acuerdo a nuestra escala para medir las capacidades de cada móvil. </p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$380</span> <i class="item_price">$350</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Mobile Phone1">
									<input type="hidden" name="amount" value="350.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/9.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Accesorios multimedia para el hogar</h4>
							<p>Los usuarios pueden transmitir vía streaming archivos multimedia a los dispositivos conectados en cada rincón de su hogar, ya sea por red, USB, HDMI o bluetooth.</p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$180</span> <i class="item_price">$150</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Auriculares">
									<input type="hidden" name="amount" value="150.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/11.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Computadora portátil colorida quad-core</h4>
							<p>¿Está buscando un portátil potente? Si la respuesta es sí, la lista a continuación con los mejores portátiles i7 quad core en 2017 en ciertamente para usted.</p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$880</span> <i class="item_price">$850</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Laptop">
									<input type="hidden" name="amount" value="850.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/14.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4> Refrigerador </h4>
							<p>Es un dispositivo empleado principalmente en cocina y en laboratorio que consiste en un armario aislado térmicamente, con un compartimento principal en el que se mantiene una temperatura de entre 2 y 6 °C y también, frecuentemente, un compartimento extra utilizado para congelación (a −18 °C) llamado congelador.</p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$950</span> <i class="item_price">$820</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Mobile Phone1">
									<input type="hidden" name="amount" value="820.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/17.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Amoladora Nuevo Modelo</h4>
							<p>La amoladora es una herramienta eléctrica y manual y está conformada por un motor eléctrico de alta potencia, que se encuentra conectado mediante engranajes reductores (si se trata de amoladoras angulares) o directamente al eje del motor (en el caso de las amoladoras rectas). Es en la punta del eje donde se acopla el disco. </p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$460</span> <i class="item_price">$450</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Mobile Phone1">
									<input type="hidden" name="amount" value="450.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/36.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Aspiradora</h4>
							<p>Es un dispositivo que utiliza una bomba de aire para aspirar el polvo y otras partículas pequeñas de suciedad, generalmente del suelo. La mayoría de hogares con suelo enlosado tienen un modelo doméstico para la limpieza. </p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$960</span> <i class="item_price">$920</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Vacuum Cleaner">
									<input type="hidden" name="amount" value="920.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="assets/images/37.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Accesorios de cocina y comedor</h4>
							<p>Cocinar será fácil y cómodo con los utensilios de cocina que hemos seleccionado para ti. Menaje y accesorios para tu cocina.</p>
							<div class="rating">
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star-.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="assets/images/star.png" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$280</span> <i class="item_price">$250</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="elec_item" value="Estufa">
									<input type="hidden" name="amount" value="250.00">
									<button type="submit" class="elec_cart">Añadir a la canasta</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modal-video -->
	<!-- banner-bottom1 -->
	<div class="banner-bottom1">
		<div class="agileinfo_banner_bottom1_grids">
			<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
				<h3>Gran evento de apertura con piso<span>20% <i>Descuento</i></span></h3>
				<a href="Productos.html">Compra ahora</a>
			</div>
			<div class="col-md-5 agileinfo_banner_bottom1_grid_right">
				<h4>trato inmediato</h4>
				<div class="timer_wrap">
					<div id="counter"> </div>
				</div>
				<script src="assets/js/jquery.countdown.js"></script>
				<script src="assets/js/script.js"></script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom1 -->
	<!-- special-deals -->
	<div class="special-deals">
		<div class="container">
			<h2>Ofertas especiales</h2>
			<div class="special_deals_grids">
				<div class="col-md-7 w3agile_special_deals_grid_left">
					<div class="w3agile_special_deals_grid_left_grid">
						<img src="assets/images/21.jpg" alt=" " class="img-responsive" />
						<div class="special_deals_grid_left_grid_pos1">
							<h5>30%<span>Off/-</span></h5>
						</div>
						<div class="special_deals_grid_left_grid_pos">
							<h4>
OFRECEMOS <span>Mejores productos</span></h4>
						</div>
					</div>
					<div class="wmuSlider example1">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-wrap">
									<div class="special_deals_grid_left_grid1">
										<img src="assets/images/t1.png" alt=" " class="img-responsive" />
										<p>Para mi es lo mejor que hay, menos la comida (que podría) lo compro todo ahí. El prime es espectacular, hago pedidos un domingo y me llegan el lunes, solo una vez se han retrasado un día por culpa del transporte y recibí un correo con sus disculpas y que entendían si ya no quería el pedido, podía devolvérselo al repartidor al momento. ME ENCANTAN! Por no hablar de la cantidad de variedad de productos, creo que no hay nada que no tengan. Además los precios no los he encontrado tan buenos en ningún sitio.</p>
										<h4>Rebeca</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-wrap">
									<div class="special_deals_grid_left_grid1">
										<img src="assets/images/t2.png" alt=" " class="img-responsive" />
										<p>He conseguido encotrar el producto con muy buen descuento (la misma camara en otras tiendas costaba 150 $ mas). El pedido ha llegado muy rapido (antes de la fecha prevista de entrega). La comunicacion ha sido muy clara. Estoy muy satifecho.</p>
										<h4>Michael</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;">
								<div class="banner-wrap">
									<div class="special_deals_grid_left_grid1">
										<img src="assets/images/t3.png" alt=" " class="img-responsive" />
										<p>Muy contenta con el servicio que presta Electrunix, muy bien el tema de devoluciones e incidencias.Compro más, que en los grandes centros comerciales de Vzla. Me inspira más confianza.</p>
										<h4>Juanita</h4>
									</div>
								</div>
							</article>
						</div>
					</div>
						<script src="assets/js/jquery.wmuSlider.js"></script>
						<script>
							$('.example1').wmuSlider();
						</script>
				</div>
				<div class="col-md-5 special_deals_grid_right">
					<img src="assets/images/20.jpg" alt=" " class="img-responsive" />
					<div class="special_deals_grid_right_pos">
						<h4>Mujeres <span>Especial</span></h4>
						<h5>Ahorra <span>a</span> 30%</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special-deals -->
	<!-- new-Productos -->
	<div class="new-Productos">
		<div class="container">
			<h3>Productos Nuevos</h3>
			<div class="agileinfo_new_Productos_grids">
				<div class="col-md-3 agileinfo_new_Productos_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_Productos_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="assets/images/25.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/23.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/24.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/22.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/26.jpg" alt=" " class="img-responsive" />
							<div class="elec_hs_bottom elec_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Laptops</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="elec_item" value="Red Laptop">
								<input type="hidden" name="amount" value="500.00">
								<button type="submit" class="elec_cart">Añadir a la canasta</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_Productos_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_Productos_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="assets/images/27.jpg" alt=" " class="img-responsive" />
							<img src=assets/"images/28.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/29.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/30.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/31.jpg" alt=" " class="img-responsive" />
							<div class="elec_hs_bottom elec_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Teléfono negro</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$380</span> <i class="item_price">$370</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="elec_item" value="Black Phone">
								<input type="hidden" name="amount" value="370.00">
								<button type="submit" class="elec_cart">Añadir a la canasta</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_Productos_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_Productos_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="assets/images/34.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/33.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/32.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/35.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/36.jpg" alt=" " class="img-responsive" />
							<div class="elec_hs_bottom elec_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Juguetes</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$150</span> <i class="item_price">$100</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="elec_item" value="Juguetes">
								<input type="hidden" name="amount" value="100.00">
								<button type="submit" class="elec_cart">Añadir a la canasta</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_Productos_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_Productos_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="assets/images/37.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/38.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/39.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/40.jpg" alt=" " class="img-responsive" />
							<img src="assets/images/41.jpg" alt=" " class="img-responsive" />
							<div class="elec_hs_bottom elec_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Estufa</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$280</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="elec_item" value="Estufa">
								<input type="hidden" name="amount" value="250.00">
								<button type="submit" class="elec_cart">Añadir a la canasta</button>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //new-Productos -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Mejores marcas</h3>
			<div class="sliderfig">
				<ul id="flexiselDemo1">
					<li>
						<img src="assets/images/tb1.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="assets/images/tb2.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="assets/images/tb3.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="assets/images/tb4.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="assets/images/tb5.jpg" alt=" " class="img-responsive" />
					</li>
				</ul>
			</div>
			<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:480,
									visibleItems: 1
								},
								landscape: {
									changePoint:640,
									visibleItems:2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
			</script>
			<script type="text/javascript" src="assets/js/jquery.flexisel.js"></script>
		</div>
	</div>
	<!-- //top-brands -->
	<!-- Boletin -->
	<div class="Boletin">
		<div class="container">
			<div class="col-md-6 Boletin_left">
				<h3>Boletin</h3>
				<p>Informacion que puede interesarte</p>
			</div>
			<div class="col-md-6 agile_Boletin_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Correo" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Boletin -->
