<!-- banner -->
<div class="banner banner10">
  <div class="container">
    <h2>Escríbenos</h2>
  </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
  <div class="container">
    <ul>
      <li><a href="index.html"><span class="glyphicon glyphicon-Casa" aria-hidden="true"></span> Casa</a> <i>/</i></li>
      <li>Escríbenos</li>
    </ul>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- mail -->
<div class="mail">
  <div class="container">
    <h3>Escríbenos</h3>
    <div class="agile_mail_grids">
      <div class="col-md-5 contact-left">
        <h4>Dirección</h4>
        <p>Nuestras oficinas se encuentran en
          <span>Barquisimeto, Vzla</span></p>
        <ul>
          <li>Télefono casa :+58 251 444 4444</li>
          <li>Teléfono :+58 424 555 5555</li>
          <li>Fax :+58 251 444 4444</li>
          <li><a href="electrunix@gmail.com">electrunix@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-7 contact-left">
        <h4>Formulario de Contacto</h4>
        <form action="#" method="post">
          <input type="text" name="Name" placeholder="Su nombre" required="">
          <input type="email" name="Email" placeholder="Su correo" required="">
          <input type="text" name="Telephone" placeholder="Número de télefono" required="">
          <textarea name="message" placeholder="Mensaje..." required=""></textarea>
          <input type="submit" value="Enviar" >
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="contact-bottom">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15713.518617416492!2d-69.37364401973616!3d10.067945183678129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e876692191c0979%3A0x3aee8b883b8bfcd0!2sDecanato+de+Ciencias+y+Tecnolog%C3%ADa+de+la+Universidad+Centroccidental+Lisandro+Alvarado+(UCLA)!5e0!3m2!1ses!2sve!4v1524712623198"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- //mail -->
<!-- Boletin -->
<div class="Boletin">
  <div class="container">
    <div class="col-md-6 Boletin_left">
      <h3>Boletin</h3>
      <p>Las ultimas novedades tecnológicas. Por acá.</p>
    </div>
    <div class="col-md-6 agile_Boletin_right">
      <form action="#" method="post">
        <input type="email" name="Email" placeholder="Correo electronico" required="">
        <input type="submit" value="" />
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //Boletin -->
