	<!-- banner -->
	<div class="banner banner10">
		<div class="container">
			<h2>Sobre Nosotros</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="index.html"><span class="glyphicon glyphicon-Casa" aria-hidden="true"></span> Casa</a> <i>/</i></li>
				<li>Sobre Nosotros</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- about -->
	<div class="about">
		<div class="container">
			<div class="elecls_about_grids">
				<div class="col-md-6 elecls_about_grid_left">
					<p>Un equipo de expertos multidisciplinar que cubre todas las áreas del Comercio Electrónico</p>
					<div class="col-xs-2 elecls_about_grid_left1">
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 elecls_about_grid_left2">
						<p>Creemos que sólo con mucho trabajo en equipo, tu negocio puede tener más presencia en Internet y en el mercado, aumentar tus clientes, ventas y proyección. No sólo nos ocupamos del desarrollo de tu portal, sino que gestionamos su presencia online y efectuamos periódicamente nuevas mejoras. No ofrecemos falsas esperanzas, sólo calidad, compromiso y una manera diferente de entender los negocios online.</p>
					</div>
					<div class="clearfix"> </div>
					<div class="col-xs-2 elecls_about_grid_left1">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 elecls_about_grid_left2">
						<p>Porque lo díficil no es ganarse la confianza, sino mantenerla. Estamos comprometidos 100% con la satisfacción de nuestros clientes y la rentabilidad de nuestros proyectos.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 elecls_about_grid_right">
					<img src="assets/images/52.png" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- team -->
	<div class="team">
		<div class="container">
			<h3>Conozca a nuestro equipo</h3>
			<div class="wthree_team_grids">
				<div class="col-md-3 wthree_team_grid">
					<img src="assets/images/t4.jpg" alt=" " class="img-responsive" />
					<h4>Angel Manzano <span>Programador NodeJs</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="assets/images/t5.jpg" alt=" " class="img-responsive" />
					<h4>Crisbely Antequera <span>Programadora NodeJs</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
        </div>

        <div class="col-md-3 wthree_team_grid">
					<img src="assets/images/t3.jpg" alt=" " class="img-responsive" />
					<h4>Jhoanna Nieto <span>Programadora NodeJs</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="assets/images/t6.jpg" alt=" " class="img-responsive" />
					<h4>Omar Gonzalez <span>Programador NodeJs</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="assets/images/t7.jpg" alt=" " class="img-responsive" />
					<h4>Pedro Leal <span>Programador NodeJs</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
				<p>Un equipo de expertos multidisciplinar que cubre todas las áreas del Comercio Electrónico</p>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- team-bottom -->
	<div class="team-bottom">
		<div class="container">
			<h3>¿Estás listo para hacer contrato? <span>30% Oferta </span>en Aplicación móvil</h3>
			<p>La profesión de Programador de Aplicaciones Móviles es de las más cotizadas en la actualidad, se trata de un puesto que cada vez más las empresas lo solicitan, ya que es una industria emergente. Muchas empresas dedicadas a la tecnología contratan programadores para crear aplicaciones.</p>
			<a href="products.html">Compra ahora</a>
		</div>
	</div>
	<!-- //team-bottom -->
	<!-- Boletin -->
	<div class="Boletin">
		<div class="container">
			<div class="col-md-6 Boletin_left">
				<h3>Boletin</h3>
				<p>Enterate de las ultimas novedades.</p>
			</div>
			<div class="col-md-6 agile_Boletin_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Correo" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Boletin -->
