
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="elec_footer_grids">
				<div class="col-md-3 elec_footer_grid">
					<h3>Contacto</h3>
					<p>Puedes contactarnos.</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Av Florencio Jimenez <span>Barquisimeto.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailTo:{{ _is.info.email }}">{{ _is.info.email }}</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+58 424-555-5555</li>
					</ul>
				</div>
				<div class="col-md-3 elec_footer_grid">
					<h3>Información</h3>
					<ul class="info">
						<li><a routerLink="about" >Sobre nosotros</a></li>
						<li><a routerLink="mail" >Contáctenos</a></li>
						<li><a href="faq.html">Preguntas frecuentes</a></li>
						<li><a routerLink="products">Productos especiales</a></li>
					</ul>
				</div>
				<div class="col-md-3 elec_footer_grid">
					<h3>Categoría</h3>
					<ul class="info">
						<li><a href="Productos.html">Móviles</a></li>
						<li><a href="Productos1.html">Laptops</a></li>
						<li><a href="Productos.html">Purificadores</a></li>
						<li><a href="Productos1.html">Vestibles</a></li>
						<li><a href="Productos2.html">Cafeteras</a></li>
					</ul>
				</div>
				<div class="col-md-3 elec_footer_grid">
					<h3>Perfil</h3>
					<ul class="info">
						<li><a href="index.html">Casa</a></li>
						<li><a href="Productos.html">La oferta de hoy</a></li>
					</ul>
					<h4>Siguenos</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a [href]="_is.info.facebook" class="facebook"> </a></li>
							<li><a [href]="_is.info.twitter" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#Casa1" class="scroll"><img src="assets/images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; {{anio}} Electrunix. Reservados todos los derechos| Hecho por estudiantes de Laboratorio III </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
